img{
    max-width: 100%;
    display: block;
}

/* como usar grid quebrando coluna */
div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.galeria{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

p{
    font-size: 2rem;
}

@media (min-width: 400px){
    .minmax img {
        grid-row:2;
        /* order:2 */
    }
}