.bicicleta{
    height: 600px;
    background-color: lightblue; /*Cor de fundo*/
    background-image: url("img/bicicleta.jpg");/*inserir imagem de fundo*/
    background-repeat: no-repeat; /*imagem não repete*/
    background-size: cover; /*Tamanho da imagem*/
    background-position: center; /*Posicionamento da imagem*/
    /* background: lightblue url("img/bicicleta.jpg") no-repeat cover center; */
    display: flex;
}

h1{
    margin: auto;
    background-color: #fff;
    padding: 1rem 2rem;
}

.parttern{
    height: 300px;
    background-color:lightcoral;
    background-image: url("./img/pattern.svg");
    background-repeat: repeat;
    /* background-size: 500px; */
}

.linear{
    height: 200px;
    /* A função gradiente podemos usar com multiplas cores determinando divisão entre elas e direção */
    background-image: linear-gradient(to right, lightblue 0%, lightcoral 20%,blue 40%);
}

.radial{
    height: 200px;
    background-image: radial-gradient(circle, blue, red, green);
}